/* 自定义markdown样式 */
.wrapper-lg{
  padding: 30px;
  font-size: 16px;
  position: relative;
  word-break: break-all;
  width: 670px;
}
  #markdown /deep/  .anchor {
    float: left;
    line-height: 1;
    margin-left: -20px;
    padding-right: 4px;
  }
  
  #markdown /deep/  .anchor:focus {
    outline: none;
  }
  
  #markdown /deep/  h1 .octicon-link,
  #markdown /deep/  h2 .octicon-link,
  #markdown /deep/  h3 .octicon-link,
  #markdown /deep/  h4 .octicon-link,
  #markdown /deep/  h5 .octicon-link,
  #markdown /deep/  h6 .octicon-link {
    color: #1b1f23;
    vertical-align: middle;
    visibility: hidden;
  }
  
  #markdown /deep/  h1:hover .anchor,
  #markdown /deep/  h2:hover .anchor,
  #markdown /deep/  h3:hover .anchor,
  #markdown /deep/  h4:hover .anchor,
  #markdown /deep/  h5:hover .anchor,
  #markdown /deep/  h6:hover .anchor {
    text-decoration: none;
  }
  
  #markdown /deep/  h1:hover .anchor .octicon-link,
  #markdown /deep/  h2:hover .anchor .octicon-link,
  #markdown /deep/  h3:hover .anchor .octicon-link,
  #markdown /deep/  h4:hover .anchor .octicon-link,
  #markdown /deep/  h5:hover .anchor .octicon-link,
  #markdown /deep/  h6:hover .anchor .octicon-link {
    visibility: visible;
  }
  
  #markdown /deep/  h1:hover .anchor .octicon-link:before,
  #markdown /deep/  h2:hover .anchor .octicon-link:before,
  #markdown /deep/  h3:hover .anchor .octicon-link:before,
  #markdown /deep/  h4:hover .anchor .octicon-link:before,
  #markdown /deep/  h5:hover .anchor .octicon-link:before,
  #markdown /deep/  h6:hover .anchor .octicon-link:before {
    width: 16px;
    height: 16px;
    content: ' ';
    display: inline-block;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNicgdmVyc2lvbj0nMS4xJyB3aWR0aD0nMTYnIGhlaWdodD0nMTYnIGFyaWEtaGlkZGVuPSd0cnVlJz48cGF0aCBmaWxsLXJ1bGU9J2V2ZW5vZGQnIGQ9J000IDloMXYxSDRjLTEuNSAwLTMtMS42OS0zLTMuNVMyLjU1IDMgNCAzaDRjMS40NSAwIDMgMS42OSAzIDMuNSAwIDEuNDEtLjkxIDIuNzItMiAzLjI1VjguNTljLjU4LS40NSAxLTEuMjcgMS0yLjA5QzEwIDUuMjIgOC45OCA0IDggNEg0Yy0uOTggMC0yIDEuMjItMiAyLjVTMyA5IDQgOXptOS0zaC0xdjFoMWMxIDAgMiAxLjIyIDIgMi41UzEzLjk4IDEyIDEzIDEySDljLS45OCAwLTItMS4yMi0yLTIuNSAwLS44My40Mi0xLjY0IDEtMi4wOVY2LjI1Yy0xLjA5LjUzLTIgMS44NC0yIDMuMjVDNiAxMS4zMSA3LjU1IDEzIDkgMTNoNGMxLjQ1IDAgMy0xLjY5IDMtMy41UzE0LjUgNiAxMyA2eic+PC9wYXRoPjwvc3ZnPg==);
  }
  
  #markdown /deep/  {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    color: #24292e;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
  }
  
  #markdown /deep/  details {
    display: block;
  }
  
  #markdown /deep/  summary {
    display: list-item;
  }
  
  #markdown /deep/  a {
    background-color: initial;
  }
  
  #markdown /deep/  a:active,
  #markdown /deep/  a:hover {
    outline-width: 0;
  }
  
  #markdown /deep/  strong {
    font-weight: inherit;
    font-weight: bolder;
  }
  
  #markdown /deep/  h1 {
    font-size: 2em;
    margin: .67em 0;
  }
  
  #markdown /deep/  img {
    border-style: none;
  }
  
  // #markdown /deep/  code,
  // #markdown /deep/  kbd,
  // #markdown /deep/  pre {
  //   font-family: monospace, monospace;
  //   font-size: 1em;
  // }
  
  #markdown /deep/  hr {
    box-sizing: initial;
    height: 0;
    overflow: visible;
  }
  
  #markdown /deep/  input {
    font: inherit;
    margin: 0;
  }
  
  #markdown /deep/  input {
    overflow: visible;
  }
  
  #markdown /deep/  [type=checkbox] {
    box-sizing: border-box;
    padding: 0;
  }
  
  #markdown /deep/  * {
    box-sizing: border-box;
  }
  
  #markdown /deep/  input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  #markdown /deep/  a {
    color: #0366d6;
    text-decoration: none;
  }
  
  #markdown /deep/  a:hover {
    text-decoration: underline;
  }
  
  #markdown /deep/  strong {
    font-weight: 600;
  }
  
  #markdown /deep/  hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: 0 0;
    border: 0;
    border-bottom: 1px solid #dfe2e5;
  }
  
  #markdown /deep/  hr:after,
  #markdown /deep/  hr:before {
    display: table;
    content: "";
  }
  
  #markdown /deep/  hr:after {
    clear: both;
  }
  
  #markdown /deep/  table {
    border-spacing: 0;
    border-collapse: collapse;
  }
  
  #markdown /deep/  td,
  #markdown /deep/  th {
    padding: 0;
  }
  
  #markdown /deep/  details summary {
    cursor: pointer;
  }
  
  #markdown /deep/  kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #d1d5da;
  }
  
  #markdown /deep/  h1,
  #markdown /deep/  h2,
  #markdown /deep/  h3,
  #markdown /deep/  h4,
  #markdown /deep/  h5,
  #markdown /deep/  h6 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  #markdown /deep/  h1 {
    font-size: 32px;
  }
  
  #markdown /deep/  h1,
  #markdown /deep/  h2 {
    font-weight: 600;
  }
  
  #markdown /deep/  h2 {
    font-size: 24px;
  }
  
  #markdown /deep/  h3 {
    font-size: 20px;
  }
  
  #markdown /deep/  h3,
  #markdown /deep/  h4 {
    font-weight: 600;
  }
  
  #markdown /deep/  h4 {
    font-size: 16px;
  }
  
  #markdown /deep/  h5 {
    font-size: 14px;
  }
  
  #markdown /deep/  h5,
  #markdown /deep/  h6 {
    font-weight: 600;
  }
  
  #markdown /deep/  h6 {
    font-size: 12px;
  }
  
  #markdown /deep/  p {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  #markdown /deep/  blockquote {
    margin: 0;
  }
  
  #markdown /deep/  ol,
  #markdown /deep/  ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  #markdown /deep/  ol ol,
  #markdown /deep/  ul ol {
    list-style-type: lower-roman !important;
  }
  
  #markdown /deep/  ol ol ol,
  #markdown /deep/  ol ul ol,
  #markdown /deep/  ul ol ol,
  #markdown /deep/  ul ul ol {
    list-style-type: lower-alpha !important;
  }
  
  #markdown /deep/  dd {
    margin-left: 0;
  }
  
  // #markdown /deep/  code,
  // #markdown /deep/  pre {
  //   font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  //   font-size: 12px;
  // }
  
  // #markdown /deep/  pre {
  //   margin-top: 0;
  //   margin-bottom: 0;
  // }
  
  #markdown /deep/  input::-webkit-inner-spin-button,
  #markdown /deep/  input::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
  }
  
  #markdown /deep/  :checked+.radio-label {
    position: relative;
    z-index: 1;
    border-color: #0366d6;
  }
  
  #markdown /deep/  .border {
    border: 1px solid #e1e4e8 !important;
  }
  
  #markdown /deep/  .border-0 {
    border: 0 !important;
  }
  
  #markdown /deep/  .border-bottom {
    border-bottom: 1px solid #e1e4e8 !important;
  }
  
  #markdown /deep/  .rounded-1 {
    border-radius: 3px !important;
  }
  
  #markdown /deep/  .bg-white {
    background-color: #fff !important;
  }
  
  #markdown /deep/  .bg-gray-light {
    background-color: #fafbfc !important;
  }
  
  #markdown /deep/  .text-gray-light {
    color: #6a737d !important;
  }
  
  #markdown /deep/  .mb-0 {
    margin-bottom: 0 !important;
  }
  
  #markdown /deep/  .my-2 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
  }
  
  #markdown /deep/  .pl-0 {
    padding-left: 0 !important;
  }
  
  #markdown /deep/  .py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  
  #markdown /deep/  .pl-1 {
    padding-left: 4px !important;
  }
  
  #markdown /deep/  .pl-2 {
    padding-left: 8px !important;
  }
  
  #markdown /deep/  .py-2 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
  
  #markdown /deep/  .pl-3,
  #markdown /deep/  .px-3 {
    padding-left: 16px !important;
  }
  
  #markdown /deep/  .px-3 {
    padding-right: 16px !important;
  }
  
  #markdown /deep/  .pl-4 {
    padding-left: 24px !important;
  }
  
  #markdown /deep/  .pl-5 {
    padding-left: 32px !important;
  }
  
  #markdown /deep/  .pl-6 {
    padding-left: 40px !important;
  }
  
  #markdown /deep/  .f6 {
    font-size: 12px !important;
  }
  
  #markdown /deep/  .lh-condensed {
    line-height: 1.25 !important;
  }
  
  #markdown /deep/  .text-bold {
    font-weight: 600 !important;
  }
  
  #markdown /deep/  .pl-c {
    color: #6a737d;
  }
  
  #markdown /deep/  .pl-c1,
  #markdown /deep/  .pl-s .pl-v {
    color: #005cc5;
  }
  
  #markdown /deep/  .pl-e,
  #markdown /deep/  .pl-en {
    color: #6f42c1;
  }
  
  #markdown /deep/  .pl-s .pl-s1,
  #markdown /deep/  .pl-smi {
    color: #24292e;
  }
  
  #markdown /deep/  .pl-ent {
    color: #22863a;
  }
  
  #markdown /deep/  .pl-k {
    color: #d73a49;
  }
  
  #markdown /deep/  .pl-pds,
  #markdown /deep/  .pl-s,
  #markdown /deep/  .pl-s .pl-pse .pl-s1,
  #markdown /deep/  .pl-sr,
  #markdown /deep/  .pl-sr .pl-cce,
  #markdown /deep/  .pl-sr .pl-sra,
  #markdown /deep/  .pl-sr .pl-sre {
    color: #032f62;
  }
  
  #markdown /deep/  .pl-smw,
  #markdown /deep/  .pl-v {
    color: #e36209;
  }
  
  #markdown /deep/  .pl-bu {
    color: #b31d28;
  }
  
  #markdown /deep/  .pl-ii {
    color: #fafbfc;
    background-color: #b31d28;
  }
  
  #markdown /deep/  .pl-c2 {
    color: #fafbfc;
    background-color: #d73a49;
  }
  
  #markdown /deep/  .pl-c2:before {
    content: "^M";
  }
  
  #markdown /deep/  .pl-sr .pl-cce {
    font-weight: 700;
    color: #22863a;
  }
  
  #markdown /deep/  .pl-ml {
    color: #735c0f;
  }
  
  #markdown /deep/  .pl-mh,
  #markdown /deep/  .pl-mh .pl-en,
  #markdown /deep/  .pl-ms {
    font-weight: 700;
    color: #005cc5;
  }
  
  #markdown /deep/  .pl-mi {
    font-style: italic;
    color: #24292e;
  }
  
  #markdown /deep/  .pl-mb {
    font-weight: 700;
    color: #24292e;
  }
  
  #markdown /deep/  .pl-md {
    color: #b31d28;
    background-color: #ffeef0;
  }
  
  #markdown /deep/  .pl-mi1 {
    color: #22863a;
    background-color: #f0fff4;
  }
  
  #markdown /deep/  .pl-mc {
    color: #e36209;
    background-color: #ffebda;
  }
  
  #markdown /deep/  .pl-mi2 {
    color: #f6f8fa;
    background-color: #005cc5;
  }
  
  #markdown /deep/  .pl-mdr {
    font-weight: 700;
    color: #6f42c1;
  }
  
  #markdown /deep/  .pl-ba {
    color: #586069;
  }
  
  #markdown /deep/  .pl-sg {
    color: #959da5;
  }
  
  #markdown /deep/  .pl-corl {
    text-decoration: underline;
    color: #032f62;
  }
  
  #markdown /deep/  .mb-0 {
    margin-bottom: 0 !important;
  }
  
  #markdown /deep/  .my-2 {
    margin-bottom: 8px !important;
  }
  
  #markdown /deep/  .my-2 {
    margin-top: 8px !important;
  }
  
  #markdown /deep/  .pl-0 {
    padding-left: 0 !important;
  }
  
  #markdown /deep/  .py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  
  #markdown /deep/  .pl-1 {
    padding-left: 4px !important;
  }
  
  #markdown /deep/  .pl-2 {
    padding-left: 8px !important;
  }
  
  #markdown /deep/  .py-2 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
  
  #markdown /deep/  .pl-3 {
    padding-left: 16px !important;
  }
  
  #markdown /deep/  .pl-4 {
    padding-left: 24px !important;
  }
  
  #markdown /deep/  .pl-5 {
    padding-left: 32px !important;
  }
  
  #markdown /deep/  .pl-6 {
    padding-left: 40px !important;
  }
  
  #markdown /deep/  .pl-7 {
    padding-left: 48px !important;
  }
  
  #markdown /deep/  .pl-8 {
    padding-left: 64px !important;
  }
  
  #markdown /deep/  .pl-9 {
    padding-left: 80px !important;
  }
  
  #markdown /deep/  .pl-10 {
    padding-left: 96px !important;
  }
  
  #markdown /deep/  .pl-11 {
    padding-left: 112px !important;
  }
  
  #markdown /deep/  .pl-12 {
    padding-left: 128px !important;
  }
  
  #markdown /deep/  hr {
    border-bottom-color: #eee;
  }
  
  #markdown /deep/  kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #d1d5da;
  }
  
  #markdown /deep/ :after,
  #markdown /deep/ :before {
    display: table;
    content: "";
  }
  
  #markdown /deep/ :after {
    clear: both;
  }
  
  #markdown  >:first-child {
    margin-top: 0 !important;
  }
  
  #markdown  >:last-child {
    margin-bottom: 0 !important;
  }
  
  #markdown /deep/  a:not([href]) {
    color: inherit;
    text-decoration: none;
  }
  
  #markdown /deep/  blockquote,
  #markdown /deep/  details,
  #markdown /deep/  dl,
  #markdown /deep/  ol,
  #markdown /deep/  p,
  // #markdown /deep/  pre,
  #markdown /deep/  table,
  #markdown /deep/  ul {
    margin-top: 0;
    margin-bottom: 16px;
  }
  
  #markdown /deep/  hr {
    height: .25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0;
  }
  
  #markdown /deep/  blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
  }
  
  #markdown /deep/  blockquote>:first-child {
    margin-top: 0;
  }
  
  #markdown /deep/  blockquote>:last-child {
    margin-bottom: 0;
  }
  
  #markdown /deep/  h1,
  #markdown /deep/  h2,
  #markdown /deep/   h3,
  #markdown /deep/   h4,
  #markdown /deep/   h5,
  #markdown /deep/   h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
  }
  
  #markdown /deep/  h1 {
    font-size: 2em;
  }
  
  #markdown /deep/  h1,
  #markdown /deep/  h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eaecef;
  }
  
  #markdown /deep/  h2 {
    font-size: 1.5em;
  }
  
  #markdown /deep/  h3 {
    font-size: 1.25em;
  }
  
  #markdown /deep/  h4 {
    font-size: 1em;
  }
  
  #markdown /deep/  h5 {
    font-size: .875em;
  }
  
  #markdown /deep/  h6 {
    font-size: .85em;
    color: #6a737d;
  }
  
  #markdown /deep/  ol,
  #markdown /deep/  ul {
    padding-left: 2em;
  }
  
  #markdown /deep/  ol ol,
  #markdown /deep/  ol ul,
  #markdown /deep/  ul ol,
  #markdown /deep/  ul ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  #markdown /deep/  li {
    word-wrap: break-all;
  }
  
  #markdown /deep/  li>p {
    margin-top: 16px;
  }
  
  #markdown /deep/  li+li {
    margin-top: .25em;
  }
  
  #markdown /deep/  dl {
    padding: 0;
  }
  
  #markdown /deep/  dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
  }
  
  #markdown /deep/  dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
  }
  
  #markdown /deep/  table {
    display: block;
    width: 100%;
    overflow: auto;
  }
  
  #markdown /deep/  table th {
    font-weight: 600;
  }
  
  #markdown /deep/  table td,
  #markdown /deep/  table th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }
  
  #markdown /deep/  table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
  }
  
  #markdown /deep/  table tr:nth-child(2n) {
    background-color: #f6f8fa;
  }
  
  #markdown /deep/  img {
    max-width: 100%;
    box-sizing: initial;
    background-color: #fff;
  }
  
  #markdown /deep/  img[align=right] {
    padding-left: 20px;
  }
  
  #markdown /deep/  img[align=left] {
    padding-right: 20px;
  }
  
  #markdown /deep/  code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, .05);
    border-radius: 3px;
  }
  
  // #markdown /deep/  pre {
  //   word-wrap: normal;
  // }
  
  // #markdown /deep/  pre>code {
  //   padding: 0;
  //   margin: 0;
  //   font-size: 100%;
  //   word-break: normal;
  //   white-space: pre;
  //   background: 0 0;
  //   border: 0;
  // }
  
  #markdown /deep/  .highlight {
    margin-bottom: 16px;
  }
  
  #markdown /deep/  .highlight pre {
    margin-bottom: 0;
    word-break: normal;
  }
  
  // #markdown /deep/  .highlight pre,
  // #markdown /deep/  pre {
  //   padding: 16px;
  //   overflow: auto;
  //   font-size: 85%;
  //   line-height: 1.45;
  //   background-color: #f6f8fa;
  //   border-radius: 3px;
  // }
  
  // #markdown /deep/  pre code {
  //   display: inline;
  //   max-width: auto;
  //   padding: 0;
  //   margin: 0;
  //   overflow: visible;
  //   line-height: inherit;
  //   word-wrap: normal;
  //   background-color: initial;
  //   border: 0;
  // }
  
  #markdown /deep/  .commit-tease-sha {
    display: inline-block;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 90%;
    color: #444d56;
  }
  
  #markdown /deep/  .full-commit .btn-outline:not(:disabled):hover {
    color: #005cc5;
    border-color: #005cc5;
  }
  
  #markdown /deep/  .blob-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  #markdown /deep/  .blob-wrapper-embedded {
    max-height: 240px;
    overflow-y: auto;
  }
  
  #markdown /deep/  .blob-num {
    width: 1%;
    min-width: 50px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 12px;
    line-height: 20px;
    color: rgba(27, 31, 35, .3);
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  #markdown /deep/  .blob-num:hover {
    color: rgba(27, 31, 35, .6);
  }
  
  #markdown /deep/  .blob-num:before {
    content: attr(data-line-number);
  }
  
  #markdown /deep/  .blob-code {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 20px;
    vertical-align: top;
  }
  
  #markdown /deep/  .blob-code-inner {
    overflow: visible;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 12px;
    color: #24292e;
    word-wrap: normal;
    white-space: pre;
  }
  
  #markdown /deep/  .pl-token.active,
  #markdown /deep/  .pl-token:hover {
    cursor: pointer;
    background: #ffea7f;
  }
  
  #markdown /deep/  .tab-size[data-tab-size="1"] {
    -moz-tab-size: 1;
    tab-size: 1;
  }
  
  #markdown /deep/  .tab-size[data-tab-size="2"] {
    -moz-tab-size: 2;
    tab-size: 2;
  }
  
  #markdown /deep/  .tab-size[data-tab-size="3"] {
    -moz-tab-size: 3;
    tab-size: 3;
  }
  
  #markdown /deep/  .tab-size[data-tab-size="4"] {
    -moz-tab-size: 4;
    tab-size: 4;
  }
  
  #markdown /deep/  .tab-size[data-tab-size="5"] {
    -moz-tab-size: 5;
    tab-size: 5;
  }
  
  #markdown /deep/  .tab-size[data-tab-size="6"] {
    -moz-tab-size: 6;
    tab-size: 6;
  }
  
  #markdown /deep/  .tab-size[data-tab-size="7"] {
    -moz-tab-size: 7;
    tab-size: 7;
  }
  
  #markdown /deep/  .tab-size[data-tab-size="8"] {
    -moz-tab-size: 8;
    tab-size: 8;
  }
  
  #markdown /deep/  .tab-size[data-tab-size="9"] {
    -moz-tab-size: 9;
    tab-size: 9;
  }
  
  #markdown /deep/  .tab-size[data-tab-size="10"] {
    -moz-tab-size: 10;
    tab-size: 10;
  }
  
  #markdown /deep/  .tab-size[data-tab-size="11"] {
    -moz-tab-size: 11;
    tab-size: 11;
  }
  
  #markdown /deep/  .tab-size[data-tab-size="12"] {
    -moz-tab-size: 12;
    tab-size: 12;
  }
  
  #markdown /deep/  .task-list-item {
    list-style-type: none;
  }
  
  #markdown /deep/  .task-list-item+.task-list-item {
    margin-top: 3px;
  }
  
  #markdown /deep/  .task-list-item input {
    margin: 0 .2em .25em -1.6em;
    vertical-align: middle;
  }
